html,body{
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #8b532b, #462209);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 960px;
  max-width: 100%;
}